datasets
#dlib
einops
h5py
joblib
lmdb
loguru
lpips
matplotlib
munch
natsort
networkx
numpy
opencv_python
packaging
peft
pillow
psutil
PyYAML
Requests
scikit_image
scikit_learn
scipy
setuptools
torch
torchvision
tqdm
transformers==4.37.2
wandb
bert_score
evaluate
timm==0.9.8
huggingface-hub==0.22.2
safetensors==0.4.3
accelerate==0.28.0
